/* chapter */
.reading .reading-control {
    background: none repeat scroll 0 0 #f6f7f8;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    clear: both;
}
.chapter-nav {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 15px;
}
.reading-control a:visited, .reading-control a:hover, .reading-control a {
    /* color: #4e4e4e; */
    text-decoration: none;
}
.home {
    width: 40px;
    text-align: center;
    color: #ae4ad9;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}
.changeserver {
    position: relative;
    color: red;
}
.changeserver span {
    font-size: 11px;
    position: absolute;
    left: 19px;
    top: 11px;
    font-weight: 700;
}
a#prevChapter {
    background: url(https://baotangtruyengo.com/content/images/prev-next.jpg) no-repeat;
    display: inline-block;
    height: 29px;
    width: 33px;
    line-height: 30px;
}
a#nextChapter {
    background: url(https://baotangtruyengo.com/content/images/prev-next.jpg) no-repeat -33px 0;
    display: inline-block;
    height: 29px;
    width: 33px;
    line-height: 30px;
}
.select-chapter {
    border-radius: 4px;
    color: #555;
    display: inline-block;
    padding: 4px 6px;
    border: 1px solid #ccc;
    width: 25%;
}
a.follow-link.btn.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
a.follow-link.btn.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* bình luận chi tiết */
.comment-detail .nav-tabs>li.active>a, .comment-detail .nav-tabs>li.active>a:hover {
    border-top: 2px solid #b9060a !important;
    color: #b9060a;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
   
}
.comment-detail{
    margin-top: 10px;
}
.comment-detail li.active {
    border: ridge 1px;
}

.journalrow .journalsummary, .journalrow .jsummary {
    overflow: hidden;
    padding: 10px 20px;
    border: 1px solid #d8d8d8;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
}
.journalrow div.journalitem {
    margin-left: 60px;
    margin-top: 20px;

}
.authorname {
    font-weight: 700;
    color: #03f;
    font-size: 13px;
}
.journalrow .member {
    background: none;
    border: 1px solid #209cee;
    color: #209cee;
}
.mod, .journalrow .member, .journalrow .anonymous {
   
    padding: 1px 4px;
   
    font-size: 11px;
    font-weight: 400;
    margin-left: 5px;
    border-radius: 3px;
    display: inline-block;
}
.journalrow abbr {
    border-style: none;
    font-size: 11px;
    border: none;
    color: #999;
    margin: 4px 0 3px;
    padding: 4px 0 0 5px;
    white-space: nowrap;
}
.cmchapter {
    color: #4e7af3;
    font-style: italic;
    font-size: 12px;
    margin-left: 7px;
}
.cmreport {
    /* display: none; */
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-left: 7px;
}
.journalrow div.author {
    overflow: hidden;
    float: left;
    text-align: center;
}
.journalrow div.author>img {
   
    
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #797979;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cmreply {
    display: block;
    padding: 3px 4px;
    background: #b9060a;
    color: #fff;
    margin: 5px 0 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
}
.journalrow ul.jcmt li>img {
    float: left;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #797979;
    border-radius: 50%;
}
.journalrow ul.jcmt li:last-child {
    margin-bottom: 0;
}
.journalrow ul.jcmt li {
    list-style-type: none;
    margin-top: 15px;
    word-wrap: break-word;
}
.jsummary {
    margin-left: 55px;
    position: relative;
}
.jsummary div, .journalsummary div {
    overflow: hidden;
    display: block;
    padding: 7px 0 0;
    word-wrap: break-word;
    border-top: 1px solid #b9060a;
    margin-top: 7px;
}
.cmreport:hover {
    color:red;
}
/* Binh luan */
#notify_comment {
    color: red;
    margin-bottom: 20px;
}
.comment_account {
    color: red;
}
.comment_facebook{
    color:#03f;
}

.replycomment {
    margin-top: 25px;
  margin-bottom: 25px;
}
/* .jcmt{
    margin-left: 4%;
} */
.listcmt {
    margin-left: 4%;
    margin-bottom: 10px;
}
i.fa.fa-mail-forward {

    color: #209cee;
    font-size: 18px;
}