html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    margin-left: 20px;
    margin-right: 20px;


}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.thong-tin table tr td:first-child {
    width: 220px;
    vertical-align: top;
    color: rgb(7, 7, 7);
    font-weight: 500;
    background: rgb(239, 239, 239);
}

table tr td {
    padding: 10px 15px;
}

.thong-tin tr:nth-child(even) {
    background-color: rgb(250, 249, 249);
}

.hover-nut {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #9c9b9b;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

.hover-nut:hover {
    text-decoration: none;
    color: #ff4e00;
    border-radius: 0px;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
}

p {
    /* margin: 0;
    letter-spacing: 1px;
    font-size: 0.9em;
    line-height: 1.9em;
    color: #959596; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

label {
    margin: 0;
}

/*-- header --*/

/*-- header --*/



.topnav {
    overflow: hidden;
    /* background-color: #e9e9e9; */
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}


span.sub {
    font-size: 10px;
    vertical-align: top;
    background: #fff;
    color: #555;
    padding: 4px 12px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.14);
}

h1.logo-w3layouts a.navbar-brand {
    font-size: 1.5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
    color: #454546;
    margin: 0;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.top-header {
    background: none !important;
}

.input-search {
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: visible;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    color: #828284;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0em 0.5em;
    padding: 10px 25px;
    text-transform: uppercase;
}

.dropdown-item {
    margin: 0 !important;
    color: #777;
}

.dropdown-menu {
    background-color: rgb(255, 255, 255);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #eef0f3;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff4e00;
    border-radius: 0px;
}

.dropdown-menu {
    padding: 0;
}

/*---*/

/*-- //mega-menu--*/

.nav-mega .dropdown {
    position: static;
}

.nav-mega .dropdown-menu.mega-menu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
    margin-top: 0;
    padding: 0;
    border-color: #ddd;
    margin: 0 auto;
    left: 9%;
    border-radius: 0;
}

.nav-mega .dropdown-menu.mega-menu>li {
    padding: 2em 2em;
}

.nav-mega .dropdown-menu.mega-menu .media-list .media {
    padding: 10px;
    font-size: 13px;
}

.nav-mega .dropdown-menu.mega-menu .media-list .media-heading {
    font-size: 16px;
}


.media-list li {
    list-style: none;
    color: #999;
}

.media-list li a {
    color: #777;
}

.media-list li a:hover {
    color: #141415;
}

.media-list h5 {
    font-weight: 700;
    font-size: 1.4em;
    color: #333;
}

label.top-log {
    width: 45%;
    height: 1px;
    background: #d7d7da;
    display: block;
    margin-bottom: 10px;
}

li.number-phone {
    color: #3e3a3a;
}

.media-list a img {
    width: 100%;
}

/*-- /mega-menu--*/

/*-- /search --*/
.banner-top.container-fluid {
    padding: 0;
    margin: 0;
}


.search {
    position: relative;
}

ul.cart-inner-info {
    display: flex;
    justify-content: space-between;
}

.count {
    padding: 5px 10px;
}

ul.cart-inner-info li {
    display: inline-block;
    list-style: none;
    margin-left: 0.5em;
}

.top-info ul li {
    list-style: none;
    display: inline-block;
    color: #999;
    letter-spacing: 1px;
}

.top-info h6 {
    color: #9c9b9b;
    letter-spacing: 1px;
}

.top-info i {
    color: #ff4e00;
}

/*-- //header --*/

/*--/footer-top-w3layouts--*/
.mail-grid-icon i {
    font-size: 1.3em;
    color: #151515;
    line-height: 3.2em;
}

.mail-grid-text-info h3 {
    font-size: 0.9em;
    color: #ff4e00;
    margin: 0em 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.mail-grid-icon {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #777;
}

.mail-grid-text-info {
    float: right;
    width: 70%;
    text-align: left;
}

/*--footer--*/

footer {
    background: #151515;
}

.footer-grid-w3ls h3 {
    font-size: 1.4em;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 1em;
    letter-spacing: 1px;
    border-bottom: 1px dotted #4d5052;
    padding-bottom: 0.8em;
}

.footer-text p,
.contact-info p {
    color: #616263;
    line-height: 1.9em;
}

.copyright-w3layouts {
    border-top: 1px solid #292828;
    margin-top: 2em;
    padding-top: 2em;
}

.copyright-w3layouts p {
    color: #616263;
}

.copyright-w3layouts p a:hover {
    color: #fff;
}

.footer p {
    color: #808080;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 20px;

}


/*--social-icons--*/
.footer-social li {
    display: inline-block;
}

.footer-social li a {
    color: #999;
    font-size: 15px;
}

.footer-social li a:hover {
    color: #ff4e00;
}

/*--//social-icons--*/

.copyright-w3layouts a {
    color: #ff4e00;
}

/*--//footer--*/

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#content-wrapper {
    background: #e7ebee;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    min-height: calc(100vh - 50px);
    padding: 15px 15px 40px 15px;
    border-left: 2px solid #f3f5f6;
}

.row {

    margin-left: -8px;
    margin-right: -8px;
}

.main-box {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    border-radius: 2px;
    background-clip: padding-box;
}

.infographic-box.merged {
    border-top: 2px solid #e7ebee;
    border-right: 2px solid #e7ebee;
    width: 50%;
}

.infographic-box i {
    font-size: 1.4em;
    display: block;
    float: left;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    color: #fff;
}

.emerald-bg {
    background-color: #0072bc !important;
}

.infographic-box.merged .value {
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 2px;
}

.infographic-box {
    padding: 10px;
}

.emerald {
    color: #0072bc !important;
}

.infographic-box.merged .headline {
    text-align: left;
    font-size: .8em;
    margin-top: -2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #90a4ae;
}

.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}

.main-box .main-box-header {
    padding: 10px 15px;
}

.theme-whbl h2 {
    color: #0072bc;
}

.main-box h2 {
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

h2 {
    clear: both;
    font-size: 1.8em;
    margin-bottom: 10px;
    padding: 10px 0 10px 30px;
    color: #0072bc;
}


/* ban an */
td.content {
    white-space: break-spaces;
    line-height: inherit;
}

.board-button {
    /* size: 200px; */
    width: 250px;
    height: 150px;
    font-style: 10px;
    font-size: 50px;
    background-color: #828fca;
    border-radius: 20px;
    color: white;
}

.row.rowboard {
    text-align: center;
    margin: 40px;
}

.board-button2 {
    /* size: 200px; */
    width: 150px;
    height: 150px;
    font-style: 10px;
    font-size: 50px;
    background-color: #828fca;
    border-radius: 20px;
    color: white;

}

.board-order button {
    /* size: 200px; */
    width: 200px;
    height: 200px;
    font-style: 10px;
    font-size: 50px;
    background-color: rgb(72, 134, 233);
    border-radius: 20px;
    color: white;

}

.box-scroll {
    width: auto;
    height: 600px;
    /* border: 1px solid #333; */
    overflow-y: scroll;
}

.board-number {
    /* size: 200px; */
    width: 40px;
    height: 40px;
    font-style: 10px;
    font-size: 25px;
    background-color: rgb(72, 134, 233);
    border-radius: 25px;
    color: white;
    text-align: center;
    margin-left: 30px;

}

.search-container input {
    width: 450px;
    margin: 5px;
    border-radius: 20px;
    height: 30px;
    font-size: medium;
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.table {
    box-shadow: 5px 5px 5px;
}

div#content-wrapper {
    FONT-SIZE: 150%;
}

button.close {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    color: red;
}